body {
    background-image: url("/images/paper-background-47.jpg");
}
h1 {
    font-family: "Comic Sans MS";
    text-align: center;
}
h2 {
    color: brown;
}
h3 {
    color: brown;
}
h4 {
    color: brown;
}
h5 {
    color: brown;
}
h6 {
    color: brown;
}
p {
    color: gray;
}
img {
    width: 20%;
    margin: 0.8%;
    text-align: center;
}
.origami {
    width: 100%;
}
.container .box {  
    width:540px;  
    margin:50px;  
    display:table;  
}  
.container .box .box-row {  
    display:table-row;  
}  
.container .box .box-cell {  
    display:table-cell;  
    width:33%;  
    padding:10px;
}  
.container .box .box-cell.box1 {  
    background:grey;    
    text-align:justify;  
}  
.container .box .box-cell.box2 {  
    background:lightgray;  
    text-align:justify  
}  
.container .box .box-cell.box3 {  
    background:grey;  
    text-align:center;
} 